[2016-02-17 03:58] kentcdodds opened #1 "Write validators for the webpack API"
I need help writing validators. Please see [CONTRIBUTING.md](https://github.com/kentcdodds/webpack-validator/blob/master/CONTRIBUTING.md) file to find out how. Also check out [configuration-validator documentation](https://github.com/kentcdodds/configuration-validator) to see what a validator looks like.

I really need feedback on the API. Everything's in beta right now so we can mess around with

[2016-02-17 04:52] kentcdodds commented on #1
I'm currently working on the `entry` property :-)

[2016-02-17 06:14] kentcdodds commented on #1
`entry` has now been implemented. Validates that the file actually exists!

[2016-02-17 06:57] nettofarah opened #2 "[idea] - Use property-validator"
hey, @kentcdodds. This project sounds like an awesome idea.

I recently built a library that helps with property validation in javascript objects. (https://github.com/nettofarah/property-validator)
Maybe we could use it validate the webpack config options?

Here's an idea of how it could look like:

[code]
or use assert

this would raise a ValidationError (my preferred option)
[code]

validation f

[2016-02-17 06:58] nettofarah commented on #2
Let me know if you think this makes sense.

[2016-02-17 16:11] kentcdodds commented on #2
I actually have built my own version of this as well ([api-check](http://npm.im/api-check)) and I considered using [joi](https://github.com/hapijs/joi). And there's nothing stopping us from using these for this project. However, I don't think that it's necessary to require it for every validator. I like the API that I've created for defining validators and I don't see a reason to change it to this

[2016-02-17 16:11] #2 closed

[2016-02-17 16:42] nettofarah commented on #2
Sure! No problem.

This is a super interesting idea, so yeah. I should send some PRs and ideas your way soon.

[2016-02-19 03:08] kentcdodds opened #3 "Update entry to not check for file existance"
From @sokra [on gitter](https://gitter.im/webpack/webpack?at=56c4229e5fa70a130ea50d91):

Basically doing this validation thing is going to be really hard because Webpack is amazingly flexible.

[2016-02-19 06:32] xjamundx opened #4 "Check for invalid fields"
I think the biggest thing you want to check if is people are using unsupported field names. This is true both at the root level and inside nested objects.

[2016-02-19 12:59] stevemao opened #5 "CLI support?"
[code]

[2016-02-19 13:50] kentcdodds commented on #4
If we get https://github.com/kentcdodds/configuration-validator/issues/1 supported, then all we need to do is create basic validators for at least every root property and that will cover us for now. Even something like:

[code]

Would be sufficient for now. Then we can go back through and fill in actual validation.

[2016-02-19 13:55] kentcdodds commented on #5
Great idea! Would you like to [makeapullrequest.com](http://makeapullrequest.com)?

[2016-02-22 07:53] sapegin opened #6 "Warns about webpack-hot-middleware"
In Webpack config:

[code]

Validation result:

[code]

[2016-02-22 08:08] kentcdodds commented on #6
Hi @sapegin! Thanks for your interest in the project. This is a duplicate of #3...

I think that the real solution is to still check for the existence of a resolvable file, but only if the entry filename doesn't contain a query string or `webpack-hot-middleware` do you think that would cover all cases?

[2016-02-22 08:09] kentcdodds commented on #6
Let's move discussion over to #3. Thanks!

[2016-02-22 08:09] #6 closed

[2016-02-22 08:10] sapegin commented on #3
Maybe to check only if it’s a filename (contains an extension)?

[2016-02-22 08:13] kentcdodds commented on #3
Ah, that's not a bad idea. Problem is many people often omit the extension because they rely on the [resolve.extensions](http://webpack.github.io/docs/configuration.html#resolve-extensions) (which we should probably account for here as well).

I want to err on the side of fewer errors I think, so unless we can think of a fool-proof way to know when to resort to checking for the file existing, I th

[2016-02-22 08:43] sapegin commented on #3
Yeah, `resolve.extensions` is a good idea also.

[2016-02-22 13:51] nyrosmith commented on #5
I am reading https://leanpub.com/theclibook ATM and would love to make a PR when I am done.
If you can wait a few days I am in!

[2016-02-22 14:50] nyrosmith commented on #1
@kentcdodds  Which one would you like next? Do you mind creating an issue per validator so that keeping track is easier?

[2016-02-23 06:25] kentcdodds commented on #5
Cool! I'm sure it can wait a bit. Please let me know what you're thinking about doing before you start so we can talk about what kind of implementation we want.

[2016-02-23 08:00] kentcdodds commented on #1
@nyrosmith, if you have interest and a second, why don't you just file an issue for the specific property you'd like to write a validator for and we can do it that way :-)

[2016-02-23 10:34] nyrosmith opened #7 "Project setup not working for windows environments"
I have setup the project according to the [Contributing guideline](https://github.com/kentcdodds/webpack-validator/blob/master/CONTRIBUTING.md)
No matter which npm script I run I get errors.
`npm run validate ` generates the following npm-debug.log:

[npm-debug.log.txt](https://github.com/kentcdodds/webpack-validator/files/142294/npm-debug.log.txt)

I really have no idea how to fix this. Sorry for

[2016-02-23 16:24] kentcdodds commented on #7
Hi @nyrosmith! This is exactly why we have the `validate` script! Let's figure out what's going on. The `validate` script runs the following npm scripts:

- lint
- cover
- build test:configs
- check-coverage

Could you run each of these independently and tell me which one(s) are failing? The log you sent is unfortunately not telling me much :-)

[2016-02-23 16:56] nyrosmith commented on #7
Sure!
[test_config.log.txt](https://github.com/kentcdodds/webpack-validator/files/143011/test_config.log.txt)
[check-coverage.log.txt](https://github.com/kentcdodds/webpack-validator/files/143010/check-coverage.log.txt)
[cover.log.txt](https://github.com/kentcdodds/webpack-validator/files/143013/cover.log.txt)
[lint.log.txt](https://github.com/kentcdodds/webpack-validator/files/143012/lint.log.txt

[2016-02-23 17:00] kentcdodds commented on #7
Hmmm... You shouldn't have to. What version of node/npm are you using? Could you try updating the latest versions of both and try again?

[2016-02-23 17:58] nyrosmith commented on #7
Ok, I updated node & npm and deleted and reinstalled the node_modules.
Win7 64 bit
node: 5.7.0
npm: 3.7.3

Same behavior as before :-(

[2016-02-23 18:24] kentcdodds commented on #7
Hmmm... I'm still not sure what's going on here. Do you think you could run those with the flag `-s`?

- `$ npm run lint -s`
- `$ npm run cover -s`
- `$ npm run build test:configs -s`
- `$ npm run check-coverage -s`

This will make npm be quiet so the output is specifically the script output. Then copy/paste the output you see in here.

Thanks for working with me on this!

[2016-02-23 19:45] nyrosmith commented on #7
Will do it tomorrow, now it's reactConf time.
But with a little research I found the following:
I have CRLF line endings -> lint exits not with non zero code
npm-run-all kills the other tasks [npm-run-all](https://github.com/mysticatea/npm-run-all#run-tasks-in-parallel)

Wil do more investigation tomorrow

[2016-02-24 10:22] nyrosmith commented on #7
`npm run lint` **works** now after changing line endings to LF.
`npm run cover -s`: [cover.log.txt](https://github.com/kentcdodds/webpack-validator/files/144245/cover.log.txt)
cover doesnot find files to test and ends with **non zero exit code**
'npm run build' **works**
'npm run test:configs' **works**
`npm run check-coverage -s` ERROR: No coverage files found

[2016-02-24 14:50] nyrosmith commented on #7
**Current status:**
I got it somehow working but it feels really nasty.

- I didnot get `npm-run-all` work in any ways, so I moved to npm run x & npm run y

- I have to append `|| true` to lint and test. Otherwise I get npm errors if a test or linting fails

- npm run test didn't work because of the single quotes `ava 'src/**/*.test.js' --verbose --require ./other/setup-ava-env.js || true`

- ATM

[2016-02-24 18:45] kentcdodds commented on #7
Yeah, we definitely want this to work seamlessly across platforms.

Unfortunately until we get this worked out, when you commit in this project, you'll have to skip the `githook` by using `--no-verify`.

[2016-02-24 19:21] nyrosmith commented on #7
And I am not allowed to commit the package.json

[2016-02-24 19:44] kentcdodds commented on #7
Do you mean you can't push to this repo? It's because you don't have access to it. You'll need to [fork the repo](https://egghead.io/lessons/javascript-how-to-fork-and-clone-a-github-repository?series=how-to-contribute-to-an-open-source-project-on-github).

If that's not what you meant, I'm not sure what you mean.

[2016-02-24 20:00] nyrosmith commented on #7
I forked it and pushed my package.json & .gitattributes to my master. When I now create a feature branch and send you a pull request then the PR also contains my package.json which might break setup in your machine. Or am I wrong?

[2016-02-25 21:07] gdi2290 opened #8 "#1 webpack gotcha: including `extensions` match `test`"
validating that `extensions` match the regexp `test`

[code]

[2016-02-25 21:08] gdi2290 opened #9 "`module` validator"
`loaders` vs `loader` and when to use them

[2016-02-25 22:08] kentcdodds commented on #8
Hmmm... Not sure this is a general enough use case to support. For example, I don't add `html` to my `extensions` and prefer to actually have the `.html` in the `import` statement.

[2016-02-25 22:08] kentcdodds commented on #9
:+1:

[2016-02-25 22:20] gdi2290 commented on #8
ya, it's probably better to enforce devs to use the extensions

[2016-02-25 22:20] #8 closed

[2016-02-25 22:37] kentcdodds commented on #8
But that's why I made this so pluggable. You can add it yourself! :-)

[2016-02-25 23:38] gdi2290 commented on #8
totes

[2016-02-26 11:42] Krisa opened #10 "Entry > Vendors not finding npm package?"
I have a config listing vendors, similar to the example shown on the page: https://webpack.github.io/docs/code-splitting.html with simply the name of the npm modules listed like here:
[code]

However, I get a validation error, that `entry: no file exists at .........../jquery` for example. Indeed, it doesn't consider that jquery is a npm module and look simply at the root of my project whether it

[2016-02-26 15:23] kentcdodds commented on #10
Hi @Krisa!

Thanks for your interest in the project. This is still in beta so I appreciate your patience. This is a duplicate of #3, so I'll go ahead and close it.

[2016-02-26 15:23] #10 closed

[2016-02-26 20:58] BarryThePenguin commented on #7
For line endings on Windows I'd recommend using `git config --global core.autocrlf input`

Then in `.gitattributes` have
[code]

Modern editors in Windows support LF line endings. I'm not aware of a reason to use CRLF

[2016-03-03 00:10] kentcdodds commented on #4
This will be closed by #13

[2016-03-03 00:18] #4 closed

[2016-03-03 00:23] kentcdodds commented on #1
Skeleton validators are now in place. Simply go to a file like [this](https://github.com/kentcdodds/webpack-validator/blob/535b3ea5ad9357dea17f31f35e22329074416b87/src/validators/devtool/index.js) and replace `noop` for a function which actually validates ([docs](https://github.com/kentcdodds/configuration-validator#validators)).

[2016-03-07 18:43] nyrosmith commented on #7
This changes are not working for me. Every npm script with `npm-run-all` fails

[2016-03-07 19:13] kentcdodds commented on #7
Hmmm... I honestly think that it's an issue with your setup. AFAIK, it's working fine for @BarryThePenguin and @mikekidder right?

[2016-03-07 19:24] nyrosmith commented on #7
I'd love to give access to my machine via TeamViewer or similar tool bc. I really don't think I have anything specific setup

[2016-03-07 19:26] kentcdodds commented on #7
Are you getting the same errors you were before? Are you sure you've updated your fork with master? Could you double check that please? Thanks for your patience!

[2016-03-07 19:38] nyrosmith commented on #7
I am getting exact the same behavior as before.
I deleted my fork and forked again. I also deleted the repo on my HDD and cloned the fork.
I really don't know why I have problems which no one other has..

[2016-03-07 19:43] RReverser commented on #7
@kentcdodds You probably want to use `text eol=lf` instead if tests rely on specific line ending.

[2016-03-07 21:14] kentcdodds commented on #7
Thanks @RReverser! I was going to remove the ESLint rules on line endings, but then I opened up a file in vim with different line endings and it was a nightmare. Maybe I should fix my tool, but I've just never really had this problem in any other project before :-/

[2016-03-07 21:27] nyrosmith commented on #1
After fixing the debug validator I'll start implementing output validators

[2016-03-07 22:02] kentcdodds commented on #1
:+1:

[2016-03-07 23:31] BarryThePenguin commented on #7
I've opened an issue on `npm-run-all` after investigating this issue. My issue may not be related to this, but I'm not able to run `validate` either...

[2016-03-08 06:20] kentcdodds commented on #7
Thanks for the feedback! I was under the impression that `npm-run-all` was supposed to work cross-platform and that was part of my motivation for using the tool. I've looked at the issue you filed and it looks like some fixes may be coming soon :tada: Thank you for putting that time in!

Are there any other commands not working for you? Each script *should* run on all platforms and if they don't t

[2016-03-08 06:26] BarryThePenguin commented on #7
All the other scripts run, other than check-coverage. It complains about not being able to find any coverage.

[code]

[2016-03-08 06:27] kentcdodds commented on #7
Hmmm, that would insinuate that the `npm run cover` command is not outputting any files :-(

[2016-03-08 06:28] nyrosmith commented on #7
Shall we remove npm-run-all until the fix has landed? Would ease contributing until this works cross-platform

[2016-03-08 06:29] kentcdodds commented on #7
:+1: Definitely willing to accept using `&&` instead. I'll make a PR that you can pull down and validate. Give me a second...

[2016-03-08 16:22] #7 closed

[2016-03-13 10:17] nyrosmith commented on #1
Can we close this and create new issues per webpack-config option?
Maybe beginner friendly tags could help too...

[2016-03-13 11:15] nyrosmith commented on #5
@kentcdodds  I'd like to create a repo for fiddling around the cli-tool and to have a discussion basis. Is this ok for you?

[2016-03-13 15:21] kentcdodds commented on #1
Yes, that'd be easier to track

Agreed. I'd like to make a few of these [first-timers-only](https://medium.com/@kentcdodds/first-timers-only-78281ea47455) issues as well...

I'm going to add you as a committer to the project if you don't mind. You're obviously motivated to contribute to this project :-) Please keep contributing via pull requests and I will too :-)

[2016-03-13 15:21] #1 closed

[2016-03-13 15:23] kentcdodds commented on #5
Totally!

Yeah, right now the configuration-validator module itself does the logging. It should work just fine as you're using it though... I'll be able to give more direction soonish hopefully.

[2016-03-13 15:35] nyrosmith commented on #1
I am very motivated :)
I really hope you don't regret adding me as a committer. I tend to mess up things while playing around and learning things

[2016-03-13 15:44] kentcdodds commented on #1
That's great! As long as you do that in pull requests I don't mind at all :-)

[2016-03-14 17:33] nyrosmith commented on #5
@kentcdodds any news about this?

[2016-03-14 17:35] kentcdodds commented on #5
Got a few things on my plate today. Will hopefully get to it tonight though. It's in my inbox.

![netflix-full-house-fuller-3ornjKEREhVsOmQG1q](https://camo.githubusercontent.com/3b63e1d20b6849c3c5deaa62367161c4aceacd86/68747470733a2f2f6d65646961302e67697068792e636f6d2f6d656469612f336f726e6a4b4552456856734f6d514731712f67697068792e676966)

[2016-03-14 17:40] nyrosmith commented on #5
No problem & sorry for my eagerness. Just planning my "webpack-validator" evening for tomorrow. Home alone ;)

[2016-03-14 17:47] xjamundx commented on #5
command line already supported!

Just add this to your package.json file under scripts:

` "validate": "node -e 'require(\"webpack-validator\")(require(\"./webpack.config.js\"))'",`

And then call `npm run validate`

Or call this directly:

`node -e "require('webpack-validator')(require('./webpack.config.js'))"`

[2016-03-14 17:57] kentcdodds commented on #5
Oh snap
![reaction-13ywUiX9SwSlGM](https://camo.githubusercontent.com/6f26780cfa1f83ebc09e2c94a02672f51c365258/68747470733a2f2f6d65646961322e67697068792e636f6d2f6d656469612f31337977556958395377536c474d2f67697068792e676966)

[2016-03-14 18:23] nyrosmith commented on #5
Maybe I am just too stupid. @xjamundx can you explain why my solution doesnot print to the console? And why call node inside a Node application?

[2016-03-14 18:25] kentcdodds commented on #5
@nyrosmith, I'm not sure why your solution's not priting to the console.

Actually, he's suggesting that you do this via the command line, not in a node application/code :-)

[2016-03-14 18:42] nyrosmith commented on #5
I understand. But making this direct via cli eliminates lots of possibilities eg nice output of what went wrong, defining configs via regex, ...
I'd like to make it more user friendly like npm or git cli

[2016-03-14 19:05] xjamundx commented on #5
@nyrosmith this definitely isn't a final best solution, but if you just need something in the short term that will work :)

[2016-03-15 11:40] nyrosmith commented on #5
Ok, I fiddled around and got it working. The problem of getting no console output was just because if validation succeeds there is nothing but silence...

I had to make the following changes:

- _configuration-validator_ returns an object {errors, warnings, config} so we know what happened. I also removed the configName prop bc I think the only output should be the warnings & errors. All other out

[2016-03-15 17:11] xjamundx opened #19 "devtool validator"
We just need an enum of acceptable `devtool` options

[2016-03-16 16:33] nyrosmith commented on #5
@kentcdodds Can we make it this way? If yes I would make the appropriate PRs to both repos.

[2016-03-16 19:14] jonathanewerner opened #20 "External validators"
An approach discussed in #17 for solving the architectural question of how to integrate support for custom / not-webpack-core validators looks as follows:

- Look in `package.json` for packages named `webpack-validator-plugin-...`. These plugins are then automatically used without the user needing to set them up, thereby reducing tooling fatigue.
- Maybe also look if packages of the form `...-load

[2016-03-16 19:26] nyrosmith commented on #20
This sounds very good to me but I think this should be very verbose of what's going on so the user gets an idea of what happens

[2016-03-16 19:47] jonathanewerner commented on #20
Sure. :+1:
I'm not sure about the testing aspect. How would validator plugin authors test their stuff? There is some setup overhead involved right? I'm still wondering if the core project should include validator plugins in its tests or if that should be the responsibility of the validator plugin authors.

[2016-03-16 19:52] kentcdodds commented on #20
Yeah, I think we'll have to write this in a modular way so we can have units that can accept stubbed out dependencies. Then we can have a handful of integration tests to make sure it all works together. I'm sure we can do this though :-)

[2016-03-16 20:30] kentcdodds commented on #5
:+1:

Not sure what you mean, but let's see the diff :+1:

That wouldn't allow me to do:

[code]

in my webpack config, which was kind of my original use case, but I think it's acceptable to change that to:

[code]

So we're good to discuss that.

Not sure what you'd be changing here, but let's see it!

Let's see a diff in a pull request. I think that's :+1:

Thanks!

[2016-03-16 21:10] xjamundx commented on #5
@nyrosmith I think you also want to add proper exit codes, because then you could do something like this, which will only show \"webpack validated" on success

[code]

[2016-03-16 21:14] nyrosmith commented on #5
@xjamundx of course. But for my playground I just ignored them.

[2016-03-17 16:31] nyrosmith opened #21 "npm run check-coverage not working on Windows"
Same behavior as in [configuration-validator](https://github.com/kentcdodds/configuration-validator/issues/9)

[2016-03-17 16:35] nyrosmith opened #22 "Update npm dependencies & ReAdd npm-run-all"
We had to remove npm-run-all bc of [cross platform issues](https://github.com/kentcdodds/webpack-validator/pull/16)
This bug is fixed and I think it would be a good idea to update the deps & bring npm-run-all back

[2016-03-17 16:39] nyrosmith commented on #22
@kentcdodds Maybe this is a good First-Timer issue?

[2016-03-17 16:52] kentcdodds commented on #22
@nyrosmith totally! Want to make it? That'd be splendid!

[2016-03-17 17:09] nyrosmith commented on #22
@kentcdodds It is not an urgent task so I thought maybe we find a new contributor. Then you have 2 new contributors to deal with :)
I think we need more labels & some discussion of what I am allowed to do in your repos and what's not ok

[2016-03-17 17:13] kentcdodds commented on #22
Yeah, I should probably update the `CONTRIBUTING.md` with something... I'll give it some thought.

Basically:

1. Feel free to manage issues and PRs: open/close/label/etc.
2. Please don't commit directly to master, discuss in PRs and get someone else to hit the green merge button

I'll apply this same thing to myself as well :-)

[2016-03-17 17:14] kentcdodds commented on #22
Also, yeah, we could probably use more labels. I added a `first-timers-only` label. Feel free to set this issue up for that and add the label :+1:

[2016-03-17 17:47] #19 closed

[2016-03-18 00:50] kazekagegaara commented on #22
So you want to revert to https://github.com/kentcdodds/webpack-validator/commit/c06f18842e7679eb983915119c871ab0cacf5398 ? If that is all, then I can take this task up.

[2016-03-18 02:27] kentcdodds commented on #22
@kazekagegaara pretty much. Just make sure that you get the latest version of `npm-run-all` :+1:

[2016-03-18 07:15] sarbbottam opened #26 "Add commitizen for commit conventions"
Is that pending on purpose?

[2016-03-18 07:50] jonathanewerner opened #27 "Setup Travis CI"
We need Travis to `npm run validate`.

Blockers:
- [ ] #35  for node compat

[2016-03-18 07:52] sarbbottam commented on #27
https://github.com/kentcdodds/webpack-validator/issues/26 seems to be related.

[2016-03-18 08:20] jonathanewerner commented on #26
I wonder if works with the current beta status of the project? How can versions like 1.0.0-betaX be realized with the commit message release automation?

[2016-03-18 08:44] jonathanewerner commented on #27
@kentcdodds As admin access to this repo is needed, i can't set it up alone. :) Could you setup the integration? Or what's the best way to go forward here?

[2016-03-18 08:48] jonathanewerner commented on #9
@gdi2290 Are you referring to [`loader`](http://webpack.github.io/docs/configuration.html#loader) vs. [`module.loaders`](http://webpack.github.io/docs/configuration.html#module-loaders)?
It's not really clear to me how this "gotcha" could be expressed as an validation rule, apart from the existing spellchecking/whitelisting behaviour. Any thoughts?

[2016-03-18 15:21] kentcdodds commented on #9
I think the spellchecking behavior will probably cover what @gdi2290 was talking about. I think we can probably close this. Please re-open if you disagree @gdi2290!

[2016-03-18 15:27] kentcdodds commented on #27
Yeah, I'll do that. Thanks for the ping!

I'll hold off on `semantic-release` until I feel like we can come out of beta.

What we need to come out of beta?

1. `configuration-validator` needs to stabilize its API (@nyrosmith is working on a refactor I think)
2. We need to flesh out the validators for all built-in properties

Other stuff on the roadmap can wait I think. Thoughts? :thought_balloon:

[2016-03-18 15:39] kentcdodds commented on #26
Yeah, `semantic-release` wont work with `beta` AFAIK. So I'm holding off on adding it.

But that doesn't mean we shouldn't start following the standard. I've changed this issue title.

For an example of another repository that has commitizen well set up is: https://github.com/eggheadio-github/stack-overflow-copy-paste (notice the package.json and the badge)

[2016-03-18 15:47] nyrosmith commented on #27
configuration-validator API changes are my highest Prio but I am unsure if I have time during weekend to get the changes done.
I think it is important to ship something usefull even if it is incomplete. People can use it even when not feature complete and give early feedback. Eg I plan to integrate this lib asap and can do dogfooding while adding stuff

[2016-03-18 15:52] kentcdodds commented on #27
Take your time :-) Don't kill yourself (or your relationships) over an open source lib :-)

Me too! That's why beta is shipped and people can use it today. Though I should probably do another release with the handful of new validators that we've gotten. I'll do that now :+1:

[2016-03-18 15:54] kentcdodds commented on #27
Get it while it's hot! `npm i -D webpack-validator@1.0.0-beta.7` :fire: :-)

[2016-03-18 16:22] jonathanewerner commented on #27
I'm not even sure if fleshing out validators would be a requirement for going out of beta. I mean it's usable now and I'd argue that spellchecking plus whitelisting satisfies a MVP, no?
The earlier we get started with automatic releases the better I think.

[2016-03-18 16:59] gdi2290 commented on #9
in webpack you can use both `loader` and `loaders` so devs would sometimes use an array for `loader`. Webpack 2 allows for TypeScript just as gulp does so this won't be a problem soon

[2016-03-18 17:05] sarbbottam opened #31 "Replace import foo from '.' to import foo from './index'"
Node 0.10 doesn't support the dot reference.

Ideally this should be fixed before #30 can be merged.

[2016-03-18 17:07] kentcdodds commented on #27
@jonathanewerner you're probably right... I just didn't want people to start using it, then upgrade and get a bunch of new errors and perhaps break builds etc. I guess we could just make every validator change a breaking change :-/ Though ESLint is similar and doesn't do this...

[2016-03-18 17:10] kentcdodds commented on #9
Ah yeah, so we need an actual validator for those before this can be closed.

[2016-03-18 17:10] #21 closed

[2016-03-18 17:11] kentcdodds commented on #31
There are probably other things we'd need to do to support 0.10. I think even `configuration-validator` would need some changes.

[2016-03-18 17:16] sarbbottam commented on #31
Could we treat `configuration-validator` separately, just for the ease of tracking, I am almost close to raise a PR for this :smile:

[2016-03-18 17:20] kentcdodds commented on #31
Yeah, but if `configuration-validator` doesn't support Node 0.10 yet, this wont either ;-) More work to do I think. Thanks!

[2016-03-18 17:22] jonathanewerner commented on #27
Interesting question how to handle semver with a tool like this. I guess a breaking change would be a change of webpack-validators user facing api, whereas new errors thrown wouldn't count as breaking in our case. You don't want people to hesitate updating this because of major-version-update fear. It's expected behavior for this tool to yell as often as possible.
I'm just thinking loud, not 100 p

[2016-03-18 17:28] sarbbottam commented on #31
Raised https://github.com/kentcdodds/configuration-validator/issues/11 to address the Node 0.10 issue in  `configuration-validator`

[2016-03-18 17:29] kentcdodds commented on #27
ping @jonathanewerner https://github.com/kentcdodds/webpack-validator/pull/33

[2016-03-18 17:30] #31 closed

[2016-03-18 17:45] jonathanewerner commented on #27
Wow you're fast. Good stuff.
I think a related task would be letting the user opt in to error throwing, defaulting to console.warn.

[2016-03-18 17:50] kentcdodds commented on #27
Actually, right now we're not throwing errors at all. But when we build the CLI (I think @nyrosmith is working on that too) then we could have people opt-into throwing when there are errors.

[2016-03-18 17:50] kentcdodds commented on #27
To be clear, the difference between an error and a warning is just the color. It's currently just using `console.log`

[2016-03-18 21:46] jonathanewerner commented on #27
I was thinking hypothetically. :) I'm not sure if cli usage is a dependency of this idea -- will create a task for this to flesh this out.

[2016-03-18 21:54] jonathanglasmeyer opened #34 "Opt-in error throwing"
Right now we are only console.logging warnings. For CI build processes it would be beneficial if the user could opt in to have webpack-validator throw errors on problems. This way cryptic errors from webpack malconfiguration would be replaced with DX-friendlier errors in CI logs.

The could be implemented by supplying a 'throwErrors': true configuration option to either the CLI interface or to our

[2016-03-18 21:55] jonathanewerner commented on #27
Extracted this idea to #34.

[2016-03-18 22:04] jonathanewerner opened #35 "Replace path.parse with path-parse"
### :octocat: Starter issue
We would like to take the opportunity to invite someone who did not yet contribute to webpack-validator to work on this issue. Follow @YourFirstPR on Twitter for more of these issues across many open source projects :)

#### :bug: The Problem

We want to support node v0.10, where `path.parse` from the node standard library isn't yet available. So path.parse should be re

[2016-03-18 22:06] kentcdodds commented on #35
@jonathanewerner, please only add the `first-timers-only` label after the issue has been setup for a first timer (needs an extremely detailed checklist) :-)

[2016-03-18 22:11] jonathanewerner commented on #35
Ok! :+1:

[2016-03-18 23:41] sarbbottam opened #37 "flag issues as assigned if some one is working on it."
Could we assign the issues to individual, if they want to work on it and add a `assigned` flag, so that, whoever is free, can take up any `unassigned` issue.

Thoughts? / @kentcdodds @nyrosmith

[2016-03-19 00:07] kentcdodds commented on #37
Sounds good to me.

[2016-03-19 00:07] #37 closed

[2016-03-19 00:11] sarbbottam commented on #37
@kentcdodds Could you help tagging the issues, I guess it needs admin rights.

[2016-03-19 06:25] nyrosmith commented on #34
I think that the lib itself should not throw errors and for CI the cli should be used. Some Build mechanisms don't care about errors but exit codes.
But I might be wrong...

[2016-03-19 06:29] nyrosmith commented on #37
Maybe we should just use Githubs "assign" mechanism?

[2016-03-19 06:31] sarbbottam commented on #34
I guess @jonathanewerner is suggesting to `process.exit(1)` on errors along with logging, if desired by passing `throwErrors: true` as config.

[2016-03-19 06:31] sarbbottam commented on #37
Yea, thats what I meant :smile:

[2016-03-19 06:40] nyrosmith commented on #34
I think I should not coment before I had my first cup of coffee...
That's totally valid. If it's ok I'll implement this behavior when my changes to configuration-validator are done.

[2016-03-19 07:35] nyrosmith opened #38 "Add more labels"
I think more labels could give us a better overview of the issues state. I propose "CLI" and "On Hold" as new labels.
Also everyone that picks an issue should assign himself or if insufficient rights he adds a comment that he picks it. This avoids unnecessary work as it happend to me yesterday.
Any thoughts?

[2016-03-19 07:43] sarbbottam commented on #38
Suggested on similar line - https://github.com/kentcdodds/webpack-validator/issues/37

[2016-03-19 08:18] jonathanewerner commented on #34
Morning. Same timezone here, first coffee coming. :) :coffee:
@sarbbottam that's exactly what I'm suggesting.
I think it's an orthogonal question if the user wants to use a cli tool for that for that or if they want to wrap their config object with our validate function. Both approaches should allow throwing errors. (cli: `--throw-errors`, programmatic: `{throwErrors: true}`).
@nyrosmith: Do it. :

[2016-03-19 13:59] jonathanewerner commented on #38
We should do this for sure.

[2016-03-19 14:30] kentcdodds commented on #38
Hmmm... So even though you all have write access to the repo you can't:

- Create new labels
- Add/Remove labels to issues
- Assign issues

? That seems odd to me.

[2016-03-19 14:31] jonathanewerner commented on #38
I can.

[2016-03-19 14:33] kentcdodds commented on #38
Ok, cool. Feel free to do whatever you think needs to be done to help with the project. If there's a disagreement, I'll make the executive decision :-)

[2016-03-19 14:33] #38 closed

[2016-03-19 14:42] nyrosmith commented on #38
I just didn't want to introduce new labels you might disagree. Sorry if I am too noisy

[2016-03-19 14:54] kentcdodds commented on #38
Not at all! You're doing great! Thank you :-)

[2016-03-19 15:21] jonathanewerner commented on #34
@nyrosmith would you like to assign yourself to this issue?

[2016-03-19 15:40] nyrosmith commented on #34
Done

[2016-03-19 18:48] jonathanewerner commented on #5
I'd suggest that setting an On Hold tag should always imply adding a comment *what* is holding up the task.

[2016-03-19 18:53] #3 closed

[2016-03-19 19:08] miguelc1221 commented on #35
working on it = )

[2016-03-19 19:51] miguelc1221 commented on #35
Sent pull request

[2016-03-19 20:36] #35 closed

[2016-03-20 01:17] #27 closed

[2016-03-20 09:26] jonathanewerner opened #45 "Monorepo"
Let's focus discussion about a monorepo approach started in #40 here.

https://github.com/kittens/lerna is the tool used by Babel to deploy / organize their repo. Should we use it? I think automatic releases are not possible with this tool, but I wonder how they'd be possible at all. The commit message doesn't tell us which package was changed, so it won't be possible to automatically derive the c

[2016-03-20 13:34] jonathanewerner commented on #9
I'm on this.

[2016-03-20 13:40] jonathanewerner commented on #20
Will revisit this when we have a monorepo.

[2016-03-20 13:40] #20 closed

[2016-03-20 13:58] jonathanewerner opened #46 "Implement all internal validators"
This tracks the progress of the implementations of all internal validators, meaning those that validate the [official webpack configuration properties](https://webpack.github.io/docs/configuration.html).

Let's check an item if we have a basic, tested implementation in place.

- [ ] `amd`
- [ ] `bail`
- [x] `cache`
- [x] `context`
- [x] `debug`
- [ ] `devServer`
- [x] `devtool`
- [x] `entry`
- [ ]

[2016-03-20 14:02] kentcdodds commented on #45
Hmmm... Without auto releases, I don't know whether it's worth having a monorepo... There are a few other things that make it less appealing. I think we can work around issues. Could we list the issues we're experiencing and see if we can find alternative solutions?

[2016-03-20 15:16] jonathanewerner commented on #9
Tackled this in #47.

[2016-03-20 16:42] jonathanewerner commented on #45
Thinking this through helps :) Loosing auto-release is bad. Not so sure there are reasons that justify to give it up.
Problems we are having without a monorepo:
- Externalizing plugins brings setup + infra overhead each time. Motivation for externalizing them is seperating concerns of core webpack config validation and third party plugins, allowing them to be maintained by third party plugin autho

[2016-03-20 17:01] jonathanewerner opened #48 "`resolve` validator"
Implement validation for stuff configured in [`resolve`](https://webpack.github.io/docs/configuration.html#resolve).

[2016-03-20 17:38] gdi2290 commented on #48
can you add a validator for `resolve.root` to check that it's an absolute path and `resolve.modulesDirectories` has `node_modules`

[2016-03-20 17:44] nyrosmith commented on #22
Closed by https://github.com/kentcdodds/webpack-validator/pull/24

[2016-03-20 17:45] #22 closed

[2016-03-20 17:45] jonathanewerner commented on #48
Sure. :)

[2016-03-20 17:48] nyrosmith commented on #5
Sorry for Delay. Weekends belong to the family.
Implementing the CLI is on hold until configuration-validator gets its new API.

[2016-03-20 17:50] nyrosmith commented on #34
It's on hold until the new configuration-validator API is done.

[2016-03-20 17:56] jonathanewerner commented on #5
No stress. My weekends are the only part of the week were I have time for OSS stuff, so i'll be only active from Fri-Sun.  Shiftwork. :)

[2016-03-20 18:55] jonathanewerner commented on #48
Have a look at #49.

[2016-03-20 18:57] kentcdodds commented on #48
Note, it's not necessarily wrong to exclude node_modules. But we could return [a warning](https://github.com/kentcdodds/configuration-validator/blob/master/src/checkConfig/reformatResult/index.test.js#L51) in this case.

Though I would recommend that we'd need to figure out a way to disable validators or that would get really annoying for someone who knows what they're doing.

[2016-03-20 19:48] #48 closed

[2016-03-20 19:49] #9 closed

[2016-03-20 21:11] gdi2290 commented on #48
ya, I think we need a config file for webpack-validator (`webpack-validator.json') to make sure our webpack config file is valid
![inception-briefcase-kOIbusN7fPnkk](https://camo.githubusercontent.com/92f15cb90b731c20a553b3afddba1de9ee4ed793/68747470733a2f2f6d65646961332e67697068792e636f6d2f6d656469612f6b4f496275734e3766506e6b6b2f67697068792e676966)

[2016-03-20 22:17] jonathanewerner opened #50 "Allow disabling validators"
The user should be able to disable validators, for example if they throw false positives and thus cause breakage in CI pipelines, or if the user is knowingly using some edge case for which we emit warnings.

For this we need basic configurability, from the cli side per command line flags or dotfile, or programmatically via an options object passed to the validate function.

A minimal implementatio

[2016-03-20 22:47] kentcdodds commented on #50
There could be multiple validators for the same key (third party or custom validators). So I suggest that we come up with some other unique identifier for these validators...

[2016-03-21 03:43] kentcdodds commented on #45
Ok, so here are a few ways to address these things:

I think in general we need to remember that there probably wont be a ton of these kinds of plugins. Most loaders don't actually add anything/much to the webpack config. So we should consider that with our decision. Babel has a TON of plugins. We will have very few I think.

We could copy/paste a lot of the setup and infra isn't too tough to set

[2016-03-21 05:36] jonathanewerner commented on #45
This is combination with the fact that we probably won't have many convinces me that having seperate repos and packages is probably overkill at this stage. Maybe revisit this in 2 months and KISS at this point of time.

[2016-03-21 13:03] kentcdodds commented on #45
Agreed! That'd be way cool. Let's revisit this idea when/if things get unwieldy.

[2016-03-21 13:03] #45 closed

[2016-03-22 03:00] #26 closed

[2016-03-25 15:04] jonathanewerner commented on #46
I propose that completing all *important* items would satisfy an 1.0 release.

[2016-03-25 15:06] kentcdodds commented on #46
I'm working on `stats` right now :-)

[2016-03-25 15:07] jonathanewerner commented on #46
Sweet. I'm tackling the three items left in *Important*.

[2016-03-25 15:08] jonathanewerner opened #51 "`plugins` validator"

[2016-03-25 15:08] jonathanewerner opened #52 "`externals` validator"

[2016-03-25 15:08] jonathanewerner opened #53 "`node` validator"

[2016-03-25 16:46] #51 closed

[2016-03-26 13:08] jonathanewerner opened #59 "Solve validation with Joi"
So the more of those validate functions i'm writing the more i'm asking myself if this approach is optimal. We are in fact doing 95% *schema validation*, a task which a library like [joi](https://github.com/hapijs/joi) (or maybe the one you wrote, Kent, [api-check](https://github.com/kentcdodds/api-check) ?) solves perfectly, but we are writing this very imperatively and with ad hoc, non-normalize

[2016-03-26 13:10] kentcdodds commented on #59
Sure, knock yourself out. I decided to not use those exclusively because I felt like they lack the flexibility we want in creating useful error messages and checking things like whether files exist (which we're actually not doing anymore anyway).

[2016-03-26 13:17] jonathanewerner commented on #59
Error messages are a two-edged sword, we want them to be helpful and customizable, but on the other hand the majority of them are generic messages like "Must be an array" or "String must be one of the following", which would actually benefit from being normalized as this would increase polish. Additionally i believe that one can override generic messages in relevant cases. I also believe that cust

[2016-03-26 16:52] kentcdodds commented on #59
I should clarify, if you can get it working well then I'm totally on board :-)

[2016-03-26 17:05] xjamundx commented on #59
Yeah super good idea
On Sat, Mar 26, 2016 at 9:52 AM Kent C. Dodds <notifications@github.com>
wrote:

[2016-03-27 13:54] jonathanewerner commented on #59
A little update on my experiment. :)

#### Joi error formatting goodness
![validation-1](https://cloud.githubusercontent.com/assets/3755413/14065632/ddb7d19a-f431-11e5-8c44-cca5883f2c73.png)

#### Custom error messages are possible
![validate-3](https://cloud.githubusercontent.com/assets/3755413/14065641/12e2c0a0-f432-11e5-9067-239fa3361cd9.png)

#### Declarative schema definition of `module` prop

[2016-03-28 23:01] kentcdodds commented on #59
Looks really promising! You have the crazy syntax highlighting I've ever seen.

I'm pretty sure that this is where we wanna go. It's nice and declarative. And the output seems more helpful. The `module` property would be a beast to validate imparatively so I think this is cool.

One concern, the message:

[code]

Is exactly the reason I started doing this with my own thing. What the heck does it m

[2016-03-29 17:10] jonathanewerner commented on #59
That's a vim plugin called semantic-highlight, it colors unique tokens in unique colors. :)
I think it's the root of an inspected object is called value. So for the "production" use case of validating the whole webpack config and not isolated properties as shown in the screenshot this shouldn't occur at all, I think. You can also override the label if needed and specify its position in the message

[2016-03-29 20:12] kentcdodds commented on #59
Honestly, I'd be happy to abandon this project in favor of yours. I'd happily turn over the name if you'd like. We're still not technically even 1.0.0 yet so I could give you publish rights and you could just publish 1.0.0 when you feel like it's ready. Thoughts?

[2016-03-29 21:01] jonathanewerner commented on #59
Ok, lets do it like that. I'm impressed by your selflessness. :+1:
So how does "giving publishing rights" work exactly with npm? Btw, I think I acted a bit hasty by publishing `webpack-joi-schema` to npm yesterday -- today I was quite shocked to see it has appearently been downloaded 260 times since then, although I marked it as beta. What is the right way to do this? Rename the package? Deprecate

[2016-03-29 21:08] kentcdodds commented on #59
Yeah, we definitely want to maintain immutability in npm (even though it's technically not enforced). So here's what I propose we do:

1. I give you publish rights to `webpack-validator`. I can do this in the npm UI right.... now... done.
2. You change the name in the `package.json` of `webpack-joi-schema` to `webpack-validator` and publish a beta of `1.0.0-beta.8`
3. You deprecate `webpack-joi-sc

[2016-03-29 21:16] jonathanewerner commented on #59
Ok, for my understanding:
- when I finish step 2, will webpack-joi-schema still exist on npm? Where will people see the deprecation warning?
- step 3: this refers just to editing the README, right?

Re selflessness: you're of course right -- I was just referring to the owner of the repo, but that's probably silly anyhow, should better be an github organization no? Or is that overkill? i kinda like

[2016-03-29 21:19] kentcdodds commented on #59
You use the deprecate command from the npm CLI. I don't have the docs link handy, but it should be easy to find. You should also update the README though.

It's up to you if you want an org. I'm fine either way :-)

[2016-03-29 21:20] jonathanewerner commented on #59
:+1: ok I'll do this tomorrow morning probably.

[2016-03-29 21:24] sarbbottam commented on #59
This thread is such a good read!! Not only, useful information and tips, but a great example of constructive collaboration. :trophy:

[2016-03-30 07:07] jonathanewerner commented on #59
[Done](https://www.npmjs.com/package/webpack-validator). :tada:

[2016-03-30 14:24] kentcdodds commented on #59
Moving discussion over to your repo. Going to update the README here.

[2018-12-31 18:13] #5 closed

[2018-12-31 18:13] #34 closed